*.iml
.gradle
/local.properties
*.log
*.apk
output.json
.idea/
/.idea/caches
msc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystone
google-services.json
*.hprof
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
